@model geographymaster.Models.Category

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<div class="continent">
    
    <section class="met_content met_full_portfolio columns_3">

        <div class="met_fp_item mix illustrations" style="width: auto; top: 35%; left: 5%; position: absolute; z-index: 10000">
            <div class="met_fp_item_preview">
                <img src="~/Content/photos/subcategory/capital_cities.png" alt="" />
                <div class="met_fpip_overlay met_vcenter">
                    <div class="met_fpipo_box">
                        @Html.ActionLink("Get me there", "Game", new { idCategory = Model.IdCategory, idSubcategory = 2 })
                    </div>
                </div>
            </div>
        </div>

        <div class="met_fp_item mix illustration" style="width: auto; bottom: 15%; left: 23%; position: absolute;">
            <div class="met_fp_item_preview">
                <img src="~/Content/photos/subcategory/flags.png" alt="" />
                <div class="met_fpip_overlay met_vcenter">
                    <div class="met_fpipo_box">
                        @Html.ActionLink("Get me there", "Game", new { idCategory = Model.IdCategory, idSubcategory = 1 } )
                    </div>
                </div>
            </div>
        </div>

        <div class="met_fp_item mix illustration" style="width: auto; top: 35%; left: 56%; position: absolute;">
            <div class="met_fp_item_preview">
                <img src="~/Content/photos/subcategory/countries.png" alt="" />
                <div class="met_fpip_overlay met_vcenter">
                    <div class="met_fpipo_box">
                        @Html.ActionLink("Get me there", "Game", new { idCategory = Model.IdCategory, idSubcategory = 3 })
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


