@model List<geographymaster.Models.Score>

@{
    ViewBag.Title = "EnterScore";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<div class="continent">
    <div class="score-table-div">
        <label class="edit-padding">Score Table</label>
    </div>

    <table class="score-table">
        <tr>
            <th>Player Name
            </th>
            <th>Total Score
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(mi => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(mi => item.Score1)
                </td>
            </tr>
        }
    </table>
</div>
